*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", serif;
    
    
}

/*---Styles for homepage start here --- */
#homepage{ 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.285);
    height: 100vh;
}

#homepage_name{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; 
    gap: 5vh;

}
/*#A8006D*/

#homepage_name h1{ 
    font-size: 10vh ;
    line-height: 10vh ; 
    word-spacing: 2vh;
    color: #A90636;
    font-family: "Reggae One", serif;
    letter-spacing: 1.5px;
    
}

#homepage_name p{ 
    font-size: 4.5vh;
    line-height: 4vh;
    word-spacing: 1vh;
    padding-right: 2rem;
    max-width: 90%;
    font-family: "Nanum Brush Script", cursive;
    font-weight: lighter;
    
}

#homepage_main{
    padding-top: 4rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}


.circle_red{
    border: none;
    background: #A90636;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    /*vertical-align:center;*/
    text-align:center;
    flex-direction: column;
    justify-content: center;
    padding: 2% 2%;
    cursor: pointer;
        

}

.button{
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 16pt;
    

 }

.button:hover{ 
    color: rgb(145, 252, 51);
    transition: 0s;
}

.circle_blue{ 
    border: none;
    background: #4F8FE6;
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
    cursor: pointer;
 }





#homepage_footer{ 
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
    height: 20vh;
    width: 90vw;
    
    
    
       

 }

#homepage_footer hr{
    height: 2px;
    background-color: #9d52f287;
    border-radius: 10px;
    border: none;
    
    
    width: 50vw;
    
}
#homepage_footer p{ 
    color: rgba(91, 91, 91, 0.285);
    font-size: 2vw;
    display: flex;
    bottom: 0;
    
    
 }

 /*---Styles for homepage ends here --- */


/*--- General style for pages strats here --- */
.page{ 
    
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


}


#page_header_search{
    height: 16vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    
    padding: 0.5rem 2rem;
    
    
    position: fixed;
    z-index: 3;
    
    
    
    box-shadow: 0px 0px 10px 1px #9c52f2;
 
    top:0px; 
    
    
    

}

#back_to_home_link{ 
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: contain;
    cursor: pointer;
    padding-top: 6px;
    transition: 0s;
    
    
    
    
}

.img_button{ 
    width: 30px;
    height: 30px;
    object-fit: contain;
    
}




#back_to_home_link:hover{
    background-color: rgb(145, 252, 51);
    border-radius: 50%;
    
    transition: 0s;


 }    
    

#search_color{ 
    border: solid;
    border-color: #A90636;
    border-radius: 15px;
    height: 40px;
    width: 200px;
    overflow: nowrap;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
    
    padding-left: 15px;
    gap: 10px;
    border-width: 1px;
    
}

#search_color div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 10px;
}




#search_color i{ 
    color: #A90636;
    position: relative;
    padding-top: 10px;
    
    
}

#search_color input:focus ~i{ 
    display: none;
    transition: .2s;

}





#search_color input{
    border: none;
    outline: none;
    overflow: scroll;
    width: 130px;
    

}

#search_bar{ 
    caret-color: #A90636;
    background-color: none;
    height: 35px;
    
    
    
}


#search_color:hover .hint,
input:focus ~ div{
  opacity: 1;
}

#search_color input:focus ~ .hint{
    opacity: 1;
} 

#search_bar:focus-visible ~ .hint{
    opacity: 1;
} 

.hint{ 
    content: "asd";
    opacity: 0;
    background: none;
    position: absolute;
    top: 10.5vh;
    display: flex;
    justify-content: center;    
    
    padding-left: 0px;
    border: none;
    font-size: 10px;
    
    color: #9c52f2;
    
    transition: opacity 0.2s;
    
}

/*to make hover work on a touch screen in some cases*/

@media (hover: none) and (pointer: coarser) {
    #search_color:hover .hint,
    input:focus ~ div{
        opacity: 1;
    }

    #search_color input:focus ~ .hint{
        opacity: 1;
    } 

    #search_bar:focus-visible ~ .hint{
            opacity: 1;
    } 

}


#menu-toggle{ 
    display: none;
}



.menu_icon i{ 
    color: #A90636;
    cursor: pointer;
}

.menu{ 
    display: none;
    width: 30%;
    position: absolute;
    top: 16vh;
    right: 0;
    border-radius: 15px;
    
    background-color: white;
    border-radius: 0;
    box-shadow: 0px 5px 10px 0px #9c52f2;

}

.menu ul{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 2rem;

}

.menu ul li {
    text-align: center;
    padding: 10px 0;
}

.menu ul li a{ 
    
    color: grey;
    text-decoration: none;
}






.exit i{
    color: grey;
    cursor: pointer;
}

#menu-toggle:checked ~ .menu{ 
    display: block;

}












#footer_pages{
    background-color: rgba(255, 255, 255, 0.285);
    
    width: 100vw;
    height: 16vh;
    bottom: 0;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    padding-bottom: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px #9c52f2;
    
    position:absolute; 
    bottom:0px; 
    left:0px; 
    right:0px; 
    overflow:hidden;
    z-index: 2;
    
}

.menu_buttons{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: none;
    width: 40px;
    height: 40px;
}

.menu_buttons img{
    
    height: 30px;
}

.menu_buttons label{ 
    cursor: pointer;
    color: rgb(110, 110, 110);
}



.menu_buttons:hover{ 
    background-color: rgb(145, 252, 51);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0s;
    
}


/*--- General style for pages ends here --- */

@media only  screen and (min-width:730px){
    #page_header_search{ 
        justify-content: center;
        gap: 4rem;
        
    }

    #search_color{ 
        width: 300px;
        height: 45px;
        align-items: start;
        justify-content: center;
        overflow: visible;
        padding: 10px;
        
        
    }

    #search_bar:placeholder-shown{ 
        font-size: 16pt;
        padding-top: 10px;
    }

    .hint{ 
        position: fixed;
        font-size: 12pt;
        top: 75px;
    }

    #search_color i{ 
        padding: 10px;
        font-size: 18pt;
        
        
    }

    #search_bar { 
        font-size: 18pt;
        
        width: 300px;
    }

    

    

    .menu ul li a{ 
        font-size: 18pt;
    }

    .exit i{ 
        font-size: 18pt;
    }

    .img_button{ 
        width: 70px;
       
    }

    .menu_buttons{ 
        width: 70px;
        height: 60px;

    }


}


/*--- About page main content style starts here ---*/
#main_about{ 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position:absolute; 
    z-index: 0;
    top:16vh;
    bottom:16vh; 
    left:0px; 
    right:0px; 
    overflow:scroll;
    max-width: 100vw;
    max-height: 68vh;
   
    
    
    
    
    
    
}



#principle_img_box{ 
    width: 100%;
    height: 300px;
    
    display: flex;
    object-fit: cover;
    
    
}

#principle_img_box img{ 
    width: 100vw;
}

#about_story{
    width: 100vw;
    padding-left: 2rem;
    padding-right: 3rem;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}



.galery_box{ 
    display: inline-grid;
    grid-gap: 5px;
    grid-template-rows: 160px 160px;
    grid-template-columns: 160px 160px;
    grid-auto-rows: 150px;
    grid-auto-columns: 150px;
    max-width: 90vw;
    
}




[class^="grid-photo"]{
    
    display: grid;
    object-fit: contain;
    align-items: start;
    justify-content: start;
}


[class^="grid-photo"] img{ 
    width: 160px;
    height: 80px;
    flex: content;
}

[class^="grid-photo"] p{ 
    color: gray;
    font-size: 10pt;
    bottom: 0;
    
    
}

@media only  screen and (min-width:730px){




    #main_about{ 
        align-items: start;
        
        width: 100vw;
    }

    #about_story{ 
        padding-left: 0;
        
        width: 90vw;
    }

    #about_story h2{ 
        font-size: 44pt;
        padding-left: 4rem;
    }

    #about_story h3{
        font-size: 32pt;
        padding-left: 4rem;
    }

    #about_story p{ 
        font-size: 16pt;
        font-weight: lighter;
        padding-bottom: 2rem;
        padding-left: 4rem;

    }

    #principle_img_box{ 
        width: 600px;
        height: 460px;
        overflow: cover;
        border: none;
        
    }
    .galery_box{ 
        padding-top: 2rem;
        padding-left: 4rem;
        display: inline-grid;
        grid-auto-rows: 300px;
        grid-auto-columns: 300px;
        max-width: 90vw;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
        
    }

    [class^="grid-photo"] p{ 
        
        font-size: 16pt;
        padding-right: 116px;
    }

    [class^="grid-photo"] img{ 
        width: 300px;
        height: 180px;
        flex: content;
    }
        

    

    #footer_pages{ 
        padding-left: 4rem;
        padding-right: 8rem;
    }



    



    
}






/*--- About page main content style ends here ---*/







/*--- Privacy page main content style starts here ---*/

#main_privacy{ 
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position:absolute; 
    
    top:16vh;
    bottom:16vh; 
    left:0px; 
    right:0px; 
    overflow:auto;
    max-width: 100vw;
    max-height: 68vh;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    gap: 5px;
   
    
    
    
    
    
    
}


#main_privacy ul{ 
    text-decoration: dotted;
    padding-left: 2rem;
    padding-right: 3rem;
}


#main_privacy ol{
    padding-left: 2rem;
    padding-right: 3rem; 

}

/*--- Privacy page main content style ends here ---*/




    




